h1,
p {
  font-family: Lato;
}
.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 131, 178, 1) 22%,
    rgba(10, 171, 221, 1) 28%,
    rgba(11, 191, 242, 1) 31%,
    rgba(11, 135, 160, 1) 100%
  );
}
#footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 131, 178, 1) 22%,
    rgba(10, 171, 221, 1) 28%,
    rgba(11, 191, 242, 1) 31%,
    rgba(11, 135, 160, 1) 100%
  );
}
.image {
  position: relative;
  height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.content span.img-text {
  background-color: aliceblue;
  text-transform: uppercase;
  color: aliceblue;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
}

root {
  background-color: #0f277a;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 131, 178, 1) 22%,
    rgba(10, 171, 221, 1) 28%,
    rgba(11, 191, 242, 1) 31%,
    rgba(11, 135, 160, 1) 100%
  );
}
